* {
    font-family: 'Poppins', sans-serif;
   
}

.App {
    background-color: cornsilk;
    width: 100%;
    height: 700px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}
